In [1]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
import sqlalchemy

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_excel("./GTD_7016.xlsx")
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,region_txt,provstate,city,latitude,longitude,specificity,vicinity,location,summary,crit1,crit2,crit3,doubtterr,alternative,alternative_txt,multiple,success,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,corp1,target1,natlty1,natlty1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,corp2,target2,natlty2,natlty2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,corp3,target3,natlty3,natlty3_txt,gname,gsubname,gname2,gsubname2,gname3,gsubname3,motive,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claimmode_txt,claim2,claimmode2,claimmode2_txt,claim3,claimmode3,claimmode3_txt,compclaim,weaptype1,weaptype1_txt,weapsubtype1,weapsubtype1_txt,weaptype2,weaptype2_txt,weapsubtype2,weapsubtype2_txt,weaptype3,weaptype3_txt,weapsubtype3,weapsubtype3_txt,weaptype4,weaptype4_txt,weapsubtype4,weapsubtype4_txt,weapdetail,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propextent_txt,propvalue,propcomment,ishostkid,nhostkid,nhostkidus,nhours,ndays,divert,kidhijcountry,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,ransomnote,hostkidoutcome,hostkidoutcome_txt,nreleased,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaT,58,Dominican Republic,2,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,1,Assassination,NaN,NaN,NaN,NaN,14,Private Citizens & Property,68.0,Named Civilian,NaN,Julio Guzman,58.0,Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANO-D,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaT,130,Mexico,1,North America,Federal,Mexico city,19.371887,-99.086624,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,7,Government (Diplomatic),45.0,"Diplomatic Personnel (outside of embassy, cons...",Belgian Ambassador Daughter,"Nadine Chaval, daughter",21.0,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23rd of September Communist League,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,Mexico,1.0,800000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaT,160,Philippines,5,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,4.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,1,Assassination,NaN,NaN,NaN,NaN,10,Journalists & Media,54.0,Radio Journalist/Staff/Facility,Voice of America,Employee,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaT,78,Greece,8,Western Europe,Attica,Athens,37.997490,23.762728,1.0,0,NaN,NaN,1,1,1,0.0,NaN,NaN,0.0,1,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,U.S. Embassy,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Explosives,16.0,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaT,101,Japan,4,East Asia,Fukouka,Fukouka,33.580412,130.396361,1.0,0,NaN,NaN,1,1,1,-9.0,NaN,NaN,0.0,1,0,7,Facility/Infrastructure Attack,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,U.S. Consulate,217.0,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
df_cleaned = df[["eventid" ,"iyear","country_txt", "attacktype1_txt", "attacktype1", "targtype1", "targtype1_txt", "nkill", "region","city","latitude","longitude","gname", "weaptype1", "weaptype1_txt"]]

In [5]:
df_final = df_cleaned.rename(columns={"iyear":"year", "attacktype1_txt":"attacktype", "attacktype1":"attacktype_n", "targtype1_txt":"targettype", "targtype1":"targettype_n", "country_txt":"country", "gname":"groupname", "nkill":"deaths", "weaptype1": "weapontype", "weaptype1_txt": "weapondesc"})

In [6]:
                                 
df_g = df_final[['year', 'country', 'deaths', 'eventid']].groupby(['year', 'country']).agg(
    {"deaths":['sum'],
     'eventid':['count']})


df_g.columns = ["_".join(x) for x in df_g.columns.ravel()]
df_g=df_g.reset_index()
df_g.head()

   year    country  deaths_sum  eventid_count
0  1970  Argentina         5.0             21
1  1970  Australia         0.0              1
2  1970    Belgium         0.0              1
3  1970    Bolivia         0.0              1
4  1970     Brazil         2.0              6

In [7]:
e = create_engine("mysql+mysqlconnector://root:alAlem@localhost/gtd")

In [8]:
df_g.to_sql('terrorismGTD', con=e, if_exists='append',index=False,chunksize=1)

In [9]:
df1 =  pd.read_csv("./Intellectual_Property_Charges copy.csv")
df1.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Charges for the use of intellectual property, ...",BM.GSR.ROYL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.804469e+05,4.581006e+05,1564245.81,3391061.453,4217877.095,4547486.034,6771959.279,1.034751e+07,9.832402e+06,11955307.26,13184357.54,14748603.35,10558659.22,9.720670e+06,8.645173e+06,1.090319e+07,1.381022e+07,1.632750e+07,NaN,NaN
1,Afghanistan,AFG,"Charges for the use of intellectual property, ...",BM.GSR.ROYL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308406.50,94761.12,27577849.86,47084262.04,1.073803e+07,1.094402e+07,1.078901e+05,2.424755e+05,3.680295e+04,1.806604e+05,NaN
2,Angola,AGO,"Charges for the use of intellectual property, ...",BM.GSR.ROYL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290000.0,1170000.0,1.660000e+06,5.630000e+06,430000.00,NaN,NaN,2495000.000,3378446.380,1.366548e+06,1.173129e+06,470000.00,20000.00,6378100.00,3185000.00,2.243150e+08,2.122201e+08,2.528528e+08,2.647022e+08,2.122297e+08,2.217269e+08,NaN
3,Albania,ALB,"Charges for the use of intellectual property, ...",BM.GSR.ROYL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8358857.120,4942627.610,4204267.362,6.768509e+06,1.185000e+07,12517321.15,14478668.94,12142401.22,12695213.14,2.336996e+07,2.260767e+07,2.187557e+07,2.457073e+07,2.315789e+07,1.312616e+07,NaN
4,Andorra,AND,"Charges for the use of intellectual property, ...",BM.GSR.ROYL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1_1 = df1[["Country Name", "Country Code", "2015", "2016", "2017"]]
df1_1.head()

  Country Name Country Code          2015          2016          2017
0        Aruba          ABW  1.381022e+07  1.632750e+07           NaN
1  Afghanistan          AFG  2.424755e+05  3.680295e+04  1.806604e+05
2       Angola          AGO  2.647022e+08  2.122297e+08  2.217269e+08
3      Albania          ALB  2.457073e+07  2.315789e+07  1.312616e+07
4      Andorra          AND           NaN           NaN           NaN

In [11]:
df1_melted = df1_1.melt(id_vars=["Country Name", "Country Code"], 
        var_name="Year", 
        value_name="Intellecutal_Property_Indicator")
df1_melted.head()

  Country Name Country Code  Year  Intellecutal_Property_Indicator
0        Aruba          ABW  2015                     1.381022e+07
1  Afghanistan          AFG  2015                     2.424755e+05
2       Angola          AGO  2015                     2.647022e+08
3      Albania          ALB  2015                     2.457073e+07
4      Andorra          AND  2015                              NaN

In [12]:
df1_final = df1_melted.rename(columns={"Country Name":"country", "Country Code":"country_code"})
df1_final.head()

       country country_code  Year  Intellecutal_Property_Indicator
0        Aruba          ABW  2015                     1.381022e+07
1  Afghanistan          AFG  2015                     2.424755e+05
2       Angola          AGO  2015                     2.647022e+08
3      Albania          ALB  2015                     2.457073e+07
4      Andorra          AND  2015                              NaN

In [13]:
df1_final.to_sql('intellectual', con=e, if_exists='append',index=False,chunksize=1)

In [14]:
df2 = pd.read_excel("./wb_mil_spend_gdpp.xls")
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.134336,12.689758,10.360382,11.948405,11.165409,9.860389,9.354596,8.302760,4.696373,4.311764,5.109793,3.833142,3.680251,3.576700,NaN
2,Angola,AGO,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.03292,13.875464,6.233868,27.375517,12.883322,10.788631,9.191732,10.934565,11.647001,13.918939,12.290886,8.167255,6.784490,10.464159,10.604491,8.704543,8.698623,12.025073,12.887743,11.479823,12.525989,10.321416,NaN
3,Albania,ALB,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.468066,2.603482,2.495401,2.703452,1.934784,2.131171,2.107534,2.072532,1.754650,1.621861,1.255319,1.185619,1.399974,NaN
4,Andorra,AND,Military expenditure (% of general government ...,MS.MIL.XPND.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2_1 = df2[["Country Name", "Country Code", "2015", "2016", "2017"]]
df2_1.head()

  Country Name Country Code       2015       2016       2017
0        Aruba          ABW        NaN        NaN        NaN
1  Afghanistan          AFG   3.833142   3.680251   3.576700
2       Angola          AGO  11.479823  12.525989  10.321416
3      Albania          ALB   1.255319   1.185619   1.399974
4      Andorra          AND        NaN        NaN        NaN

In [16]:
df2_melted = df2_1.melt(id_vars=["Country Name", "Country Code"], 
        var_name="Year", 
        value_name="military_expenses")
df2_melted.head()

  Country Name Country Code  Year  military_expenses
0        Aruba          ABW  2015                NaN
1  Afghanistan          AFG  2015           3.833142
2       Angola          AGO  2015          11.479823
3      Albania          ALB  2015           1.255319
4      Andorra          AND  2015                NaN

In [17]:
df2_final = df2_melted.rename(columns={"Country Name":"country", "Country Code":"country_code"})
df2_final.head()

       country country_code  Year  military_expenses
0        Aruba          ABW  2015                NaN
1  Afghanistan          AFG  2015           3.833142
2       Angola          AGO  2015          11.479823
3      Albania          ALB  2015           1.255319
4      Andorra          AND  2015                NaN

In [18]:
df2_final.to_sql('military', con=e, if_exists='append',index=False,chunksize=1)

In [19]:
df3_1 = pd.read_csv("./happiness_2015.csv")
df3_1_columns=df3_1[["Year", "Country", "HappinessScore", "Economy_GDPperCapita", "Freedom", "Health_LifeExpectancy", "Trust_GovernmentCorruption"]]
df3_1_columns.head()

,Year,Country,HappinessScore,Economy_GDPperCapita,Freedom,Health_LifeExpectancy,Trust_GovernmentCorruption
0,2015,Afghanistan,3.575,0.31982,0.23414,0.30335,0.09719
1,2015,Albania,4.959,0.87867,0.35733,0.81325,0.06413
2,2015,Algeria,5.605,0.93929,0.28579,0.61766,0.17383
3,2015,Angola,4.033,0.75778,0.10384,0.16683,0.07122
4,2015,Argentina,6.574,1.05351,0.44974,0.78723,0.08484

In [20]:
df3_2 = pd.read_csv("./happiness_2016.csv")
df3_2_columns=df3_2[["Year", "Country", "HappinessScore","Economy_GDPperCapita", "Freedom", "Health_LifeExpectancy", "Trust_GovernmentCorruption"]]
df3_2_columns.head()

,Year,Country,HappinessScore,Economy_GDPperCapita,Freedom,Health_LifeExpectancy,Trust_GovernmentCorruption
0,2016,Afghanistan,3.360,0.38227,0.16430,0.17344,0.07112
1,2016,Albania,4.655,0.95530,0.31866,0.73007,0.05301
2,2016,Algeria,6.355,1.05266,0.21006,0.61804,0.16157
3,2016,Angola,3.866,0.84731,0.00589,0.04991,0.08434
4,2016,Argentina,6.650,1.15137,0.42284,0.69711,0.07296

In [21]:
df3_3 = pd.read_csv("./happiness_2017.csv")
df3_3_columns=df3_3[["Year", "Country", "HappinessScore","Economy_GDPperCapita", "Freedom", "Health_LifeExpectancy", "Trust_GovernmentCorruption"]]
df3_3_columns.head()

,Year,Country,HappinessScore,Economy_GDPperCapita,Freedom,Health_LifeExpectancy,Trust_GovernmentCorruption
0,2017,Afghanistan,3.794,0.401477,0.106180,0.180747,0.061158
1,2017,Albania,4.644,0.996193,0.381499,0.731160,0.039864
2,2017,Algeria,5.872,1.091864,0.233336,0.617585,0.146096
3,2017,Angola,3.795,0.858428,0.000000,0.049869,0.069720
4,2017,Argentina,6.599,1.185295,0.494519,0.695137,0.059740

In [22]:
frames = [df3_1_columns, df3_2_columns, df3_2_columns]
all_happiness = pd.concat(frames)
all_happiness.head()

,Year,Country,HappinessScore,Economy_GDPperCapita,Freedom,Health_LifeExpectancy,Trust_GovernmentCorruption
0,2015,Afghanistan,3.575,0.31982,0.23414,0.30335,0.09719
1,2015,Albania,4.959,0.87867,0.35733,0.81325,0.06413
2,2015,Algeria,5.605,0.93929,0.28579,0.61766,0.17383
3,2015,Angola,4.033,0.75778,0.10384,0.16683,0.07122
4,2015,Argentina,6.574,1.05351,0.44974,0.78723,0.08484

In [23]:
all_happiness.to_sql('happiness', con=e, if_exists='append',index=False,chunksize=1)

In [24]:
df_all = pd.read_csv("./data_merged.csv")
df_all.head()

,eventid_count,year,country,deaths_sum,year.1,Country,HappinessScore,Freedom,Health_LifeExpectancy,Economy_GDPperCapita,Trust_GovernmentCorruption,country.1,country_code,year.2,Intellecutal_Property_Indicator,country.2,country_code.1,year.3,military_expenses
0,1928,2015,Afghanistan,6216,2015,Afghanistan,3.575,0.23414,0.30335,0.31982,0.09719,Afghanistan,AFG,2015,2.424755e+05,Afghanistan,AFG,2015,3.833142
1,4,2015,Albania,0,2015,Albania,4.959,0.35733,0.81325,0.87867,0.06413,Albania,ALB,2015,2.457073e+07,Albania,ALB,2015,1.255319
2,16,2015,Algeria,21,2015,Algeria,5.605,0.28579,0.61766,0.93929,0.17383,Algeria,DZA,2015,2.500106e+08,Algeria,DZA,2015,13.687052
3,1,2015,Argentina,0,2015,Argentina,6.574,0.44974,0.78723,1.05351,0.08484,Argentina,ARG,2015,2.178066e+09,Argentina,ARG,2015,2.075045
4,2,2015,Armenia,0,2015,Armenia,4.350,0.19847,0.72990,0.76821,0.03900,Armenia,ARM,2015,NaN,Armenia,ARM,2015,16.099874